@page "/Passages"
@using OnlineTest.Data

@inject ApplicationDbContext _dbContext
@inject NavigationManager NavManager

<div>
    <p class="viewbtn btn btn-primary" @onclick="(e) => EditPassage(0)">Add Passage</p>
    <h3>Passages</h3>
    <table class="table">
        <thead>
            <tr>
                <th>General Instruction</th>
                <th>Total Blocks</th>
                <th>Total Videos</th>
                <th>Reading Time(Minutes)</th>
                <th>Created By</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var passage in passageslist)
            {
                <tr>
                    <td>@passage.GeneralInstruction</td>
                    <td>@_dbContext.TblPassageBlocks.Where(m=>m.PassageId==passage.Id).Count()</td>
                    <td>@_dbContext.TblPassageVideos.Where(m=>m.PassageId==passage.Id).Count()</td>
                    <td>@passage.ReadingTime</td>
                    <td>@passage.CreatedBy</td>
                    <td>
                        <div class="d-inline-flex">
                            <p class="viewbtn btn btn-primary" @onclick="(e) => EditPassage(passage.Id)">Edit Passage</p>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {

    List<TblPassage> passageslist = new List<TblPassage>();
    protected override async Task OnInitializedAsync()
    {
        string Guidvalue = Guid.NewGuid().ToString();
        passageslist = await _dbContext.TblPassages.ToListAsync();
    }
    private void EditPassage(int id)
    {
        NavManager.NavigateTo($"/AddPassage/{id}");
    }
}